services:
  smls:
    image: ghcr.io/lucakiebel/simple-mailing-list-service:v0.1.0
    container_name: simple-mailing-lists-service
    ports:
      - "127.0.0.1:3000:3000"
    volumes:
      - ./data:/app/data
    env_file:
      - .env
    restart: unless-stopped